@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* 字体颜色 */
    --color-text: #666;
    /* 高亮字体颜色 */
    /*--color-highlight-text: red;*/
    /* 主题色 */
    --color-tint: white;
    /* 背景色 */
    --color-background: white;

    --font-size: 14px;
    --line-height: 1.5;

    /* 导航栏高度 */
    --navbar-height: 5rem;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    /* color: var(--color-highlight-text); */
    /* 所有<a>内文字都不要有下划线 */
    text-decoration: none;
}